<b> You are logged in as <%= @user_id %> </b><br> <br>
 
<a class="button" href="/reviews/new"> Review an article </a><br> <br>
 
<a class="button" href="/reviews"> See your reviews </a><br> <br>

<a class="button" href="/logout"> Log Out </a>